<div class="mar-t-20">
    <form [formGroup]="driver">
        <h2>Driver</h2>
        <div>
            <h3>Name</h3>
            <input type="text" minlength="1" maxlength="50" formControlName="name">
        </div>
        <div>
            <h3>Attack</h3>
            <input type="number" min="1" max="100" formControlName="attack">
        </div>
        <div>
            <h3>Defense</h3>
            <input type="number" min="1" max="100" formControlName="defense">
        </div>
        <div>
            <h3>Stamina</h3>
            <input type="number" min="1" max="100" formControlName="stamina">
        </div>
        <div>
            <h3>Weight</h3>
            <input type="number" min="1" max="40" formControlName="weight">
        </div>
        <h3>Driver type</h3>
        <select formControlName="type">
            <option [ngValue]="0">Attack</option>
            <option [ngValue]="1">Defense</option>
            <option [ngValue]="2">Stamina</option>
        </select>
    </form>
</div>
<!-- <button [disabled]="layer.invalid" (click)="save()">Save</button> -->
<button class="success" (click)="save()">Save</button>