<h1>
    <div>
        <h1>First Beyblade</h1>
        <div>
            <div>
                <p>Layer</p>
                <select name="layer" id="layer">
                    <option value="layer" *ngFor="let layer of layers">
                        {{layer.Name}}
                    </option>
                </select>
            </div>
            <div>
                <p>Disk</p>
                <select name="disk" id="disk">
                    <option value="disk" *ngFor="let disk of disks">
                        {{disk.Name}}
                    </option>
                </select>
            </div>
            <!-- <div>
                <p>Frame</p>
                <select name="frame" id="frame">
                    <option value="frame" *ngFor="let frame of frames">
                        {{frame.Name}}
                    </option>
                </select>
            </div> -->
            <div>
                <p>Driver</p>
                <select name="driver" id="driver">
                    <option value="driver" *ngFor="let driver of drivers">
                        {{driver.Name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <h1>Second Beyblade</h1>
        <div>
            <div>
                <p>Layer</p>
                <select name="layer" id="layer">
                    <option value="layer" *ngFor="let layer of layers">
                        {{layer.Name}}
                    </option>
                </select>
            </div>
            <div>
                <p>Disk</p>
                <select name="disk" id="disk">
                    <option value="disk" *ngFor="let disk of disks">
                        {{disk.Name}}
                    </option>
                </select>
            </div>
            <!-- <div>
                <p>Frame</p>
                <select name="frame" id="frame">
                    <option value="frame" *ngFor="let frame of frames">
                        {{frame.Name}}
                    </option>
                </select>
            </div> -->
            <div>
                <p>Driver</p>
                <select name="driver" id="driver">
                    <option value="driver" *ngFor="let driver of drivers">
                        {{driver.Name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</h1>