<div>
    <h1 class="mar-0 f-15">Register Parts</h1>
    <div class="flex f-row">
        <div class="mar-r-10">
            <button *ngIf="!registerLayer" (click)="activateDeactivateRegisterLayer()">Register layer</button>
            <button class="danger" *ngIf="registerLayer" (click)="activateDeactivateRegisterLayer()">Close layer
                registration</button>
            <app-layer-shell *ngIf="registerLayer"></app-layer-shell>
        </div>
        <div class="mar-r-10">
            <button *ngIf="!registerDisk" (click)="activateDeactivateRegisterDisk()">Register disk</button>
            <button class="danger" *ngIf="registerDisk" (click)="activateDeactivateRegisterDisk()">Close disk
                registration</button>
            <app-disk-shell *ngIf="registerDisk"></app-disk-shell>
        </div>
        <div class="mar-r-10">
            <button *ngIf="!registerDriver" (click)="activateDeactivateRegisterDriver()">Register driver</button>
            <button class="danger" *ngIf="registerDriver" (click)="activateDeactivateRegisterDriver()">Close driver
                registration</button>
            <app-driver-shell *ngIf="registerDriver"></app-driver-shell>
        </div>
    </div>
</div>